<div class="jumbotron">
	<h1 class="display-4">Welcome guest!</h1>
	<p class="lead">
		Everithing I learnt about MERN stack is here, just enter and take a look!
	</p>
	<hr class="my-4" />
	<p>You will not be disappointed</p>
	<a class="btn btn-primary btn-lg" href="/auth/register" role="button"
		>Take a look</a
	>
</div>
