<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link" href="/">Welcome</a>
	</li>
	<li class="nav-item dropdown">
		<a
			class="nav-link dropdown-toggle"
			data-toggle="dropdown"
			href="/auth"
			role="button"
			aria-haspopup="true"
			aria-expanded="false"
			>Authentication</a
		>
		<div class="dropdown-menu">
            <a class="dropdown-item" href="/auth/register">Register</a>
            <div class="dropdown-divider"></div>
			<a class="dropdown-item" href="/auth/login">Local Login</a>
			<a class="dropdown-item" href="/auth/google">Google+</a>
			<a class="dropdown-item" href="/auth/github">Github</a>
			<a class="dropdown-item" href="/auth/facebook">Fabebook</a>
		</div>
	</li>
</ul>
